@import 'src/styles/main/layout/_burger';

.navigation__item:nth-child(4){
    pointer-events: none;
    background: $orange-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation-link:active,
.footer-nav-item__link:active,
.design:active {
    color: #F9804B;
}



.animal-wrapper {
    padding-bottom: 385px;
    background: url(/src/images/favourite-panda.jpg) center / cover no-repeat;
    @media (max-width: $sDesktop) {
        padding-bottom: 389px;
        background: url(/src/images/sDesctop-panda_bg.jpg) center / cover no-repeat;
    }
    @media (max-width: $tablet) {
        margin-top: 34px;
        padding-bottom: 335px;
    }
    @media (max-width: $mobile) {
        padding-bottom: 187px;
    }
}

.pick-and-feed {
    padding: 42px 0 180px 0;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    @media (max-width: $sDesktop) {
        padding: 41px 30px 30px 30px;
    }
    @media (max-width: $tablet) {
        padding: 30px 19px 46px 19px;
    }
    @media (max-width: $mobile) {
        padding: 30px 10px 20px 10px;
    }
}
.container {
    align-items: center;
    max-width: 1160px;
}
.section-subtitle {
    align-self: flex-start;
    color: #FFFFFF;
    text-align: start;
    @media (max-width: $sDesktop) {
        max-width: 790px;
    }
    @media (max-width: $tablet) {
        @include font-style($size: 2.4rem, $height: 120%);
    }
    
}

.joy {
    margin-top: 20px;
}
.section-subtitle_colored {
    color: #FE9013;
    @media (max-width: $tablet) {
        @include font-style($size: 3.6rem)
    }
    @media (max-width: $mobile) {
        @include font-style($size: 2.4rem, $height: 120%)
    }
}
.pick-and-feed__explanation {
    margin: 10px 0 44px 0;
    @include font-style($weight: 500);
    color: #FFFFFF;
    @media (max-width: $sDesktop) {
        margin: 31px 0 45px 0;
    }
    @media (max-width: $tablet) {
        margin: 21px 0 26px 0;
    }
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // padding: 0 92px 62px 92px;
    margin-top: 59px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    @media (max-width: $sDesktop) {
        margin-top: 39px;
    }
    @media (max-width: $tablet) {
        margin-top: 27px;
    }
}

.section__title {
    margin-left: -13px;
    @media (max-width: $sDesktop) {
        margin: 22px 0 0 -13px;
    }
    @media (max-width: $tablet) {
        @include font-style($size: 4.8rem, $height: 120%);
        margin: 30px 0px 0 0px;
    }
    @media (max-width: $mobile) {
        @include font-style($size: 2.4rem, $height: 120%);
        margin: 22px 0px 0 0px;
    }
}

.joy {
    @include font-style($size: 2.4rem, $height: 120%);
    align-self: flex-start;
    margin: 22px 0 37px 92px;
    @media (max-width: $sDesktop) {
        margin: 9px 0 35px 47px;
    }
    @media (max-width: $tablet) {
        text-align: center;
        margin: 23px 0 35px 0px;
    }
    @media (max-width: $mobile) {
        @include font-style($size: 1.6rem, $height: 140%);
        margin: 9px 0 4px 0px;
    }
}

.donate-container {
    display: flex;
    align-items: center;
    width: 100%;
    // margin-bottom: 42px;
}
.donate-container__text {
    display: flex;
    justify-content: center;
    flex: 1 1 26.7%;
    padding: 20px 0px 0 220px;
    @media (max-width: $sDesktop) {
        padding: 22px 30px 0 139px;
    }
    @media (max-width: $tablet) {
        padding: 17px 74px 0 14px;
    }
    @media (max-width: 550px) {
        padding: 11px 49px 0 0px;
    }
    .text {
        max-width: 41px;
        position: relative;
        text-align: end;
        font-weight: 500;
        font-size: 7.2rem;
        line-height: 80%;
        text-transform: uppercase;
        color: #000000;
        &::after {
            content: "Panda diet for the day.";
            position: absolute;
            width: 159px;
            top: 120%;
            left: -147%;
            @include font-style();
            color: #333B41;
            text-transform: none;
            @media (max-width: 550px) {
                font-size: 9.02255px;
                top: 126%;
                left: -448%;
            }
        }
        &::before {
            content: url(/src/icons/x_icon.svg);
            position: absolute;
            top: -23%;
            right: -202%;
            @media (max-width: 550px) {
                content: url(/src/images/mobile-x_icon.svg);
                
            }
        }
        @media (max-width: 550px) {
            font-weight: 500;
            font-size: 40.6015px;
            line-height: 80%;
            max-width: 23px;
        }
    }
}
.donate-container__image {
    flex: 1 1 50%;
    // justify-self: flex-start;
    background: url(/src/images/panda_widget.svg) 0 center no-repeat;
    height: 290px;
    width: 290px;
    @media (max-width: $tablet) {
        height: 275px;
    }
    @media (max-width: 550px) {
        background: url(/src/images/mobile-donate-panda.svg) 0 center no-repeat;
        height: 150px;
    }
}


.amount-range {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 27px;
    max-width: 976px;
    width: 100%;
    background: #404950;
    border-radius: 2px;
    padding: 0 28px 0 26px;
    margin-bottom: 97px;
    &__progress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 2px;
        // margin: 0 -10px 0 -10px;
        background-color: #72828E;
    }
    @media (max-width: $sDesktop) {
        max-width: 810px;
        padding: 0 10px;
    }
    @media (max-width: $tablet) {
        padding: 0 36px;
    }
    @media (max-width: $mobile) {
        padding: 0 18px;
        height: 13.5px;
        margin-bottom: 50px;
    }
}

.radio{
    cursor: pointer;
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #FFEE2E;
    border-radius: 50%;
    // background-clip: padding-box;
    @media (max-width: $mobile) {
        height: 5px;
        width: 5px;
    }
    
}

.radio::after {
    @include font-style($size: 2.6rem, $weight: 500);
    position: absolute;
    color: #333B41;
    top: 32px;
    left: -300%;
    @media (max-width: $sDesktop) {
        left: -130%;
    }
    @media (max-width: $tablet) {
        left: -203%;
    }
    @media (max-width: $mobile) {
        left: -226%;
        top: 17px;
        @include font-style($size: 1.3rem, $weight: 500);

    }
}

.radio::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -25px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 20px solid transparent;
    box-sizing: content-box;
}

// .radio-1::after {
//     content: "$5000"; 
// }
// .radio-2::after {
//     content: "$2000";
// }
// .radio-3::after {
//     content: "$1000";
//     color: #FE9013;
// }
// .radio-3::before {
//     content: url(/src/icons/roller_icon.svg);
//     border: none;
//     position: absolute;
//     top: -15px;
//     right: 5px;
//     @media (max-width: $tablet) {
//         content: none;
//     }
// }
// .radio-4::after {
//     content: "$500";
// }
// .radio-5::after {
//     content: "$250";
// }
// .radio-6::after {
//     content: "$100";
//     @media (max-width: $tablet) {
//         color: #FE9013;
//     }
// }

// .radio-6::before {
//     @media (max-width: $tablet) {
//         content: url(/src/icons/roller_icon.svg);
//         border: none;
//         position: absolute;
//         top: -15px;
//         right: 5px;
//     }
//     @media (max-width: $mobile) {
//         content: url(/src/icons/mobile-roller_icon.svg);
//         top: -7.5px;
//         right: -7.8px;
//     }
// }
// .radio-7::after {
//     content: "$50";
// }
// .radio-8::after {
//     content: "$25";
// }


.price {
    display: none;

}
.radio-1 {
}
.radio {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @media (max-width: $mobile) {
        gap: 17px;
    }
}
.price-fake {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    &::before {
        content: url(/src/icons/roller_icon.svg);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -37%);
        opacity: 0;
        @media (max-width: $mobile) {
            content: url(/src/icons/mobile-roller_icon.svg);
            transform: translate(-48%, -35%);
        }
    }
}

.price:checked + .price-fake::before {
    opacity: 1;
}



.sum {
    left: -2px;
    position: relative;
    @include font-style($weight: 500, $size: 2.6rem);
    color: $blue-text-color;
    @media (max-width: $sDesktop) {
        left: 8px;
    }
    @media (max-width: $mobile) {
        @include font-style($weight: 500, $size: 1.3rem);
    }
    @media (max-width: $mobile) {
        left: 2px;
    }
}

.price:checked ~ .sum {
    color: #FE9013;
}

@media (max-width: $sDesktop) {
    .radio-1 {
        display: none
    }
}
@media (max-width: $tablet) {
    .radio-2 {
        display: none
    }
    .radio-3 {
        display: none
    }
}
.amount-text {
    @include font-style();
    align-self: flex-start;
    margin: 25px 0 17px 96px;
    @media (max-width: $sDesktop) {
        margin: 29px 0 13px 65px;
    }
    @media (max-width: $tablet) {
        margin: 24px 0 6px 11px;
    }
    @media (max-width: $mobile) {
        margin: -1px 0 6px 0px;;
    }
}

.another-amount {
    position: relative;
    height: 54px;
    width: 244px;
    margin: 0px 0 25px 0;
    padding: 0px 15px 0 9px;
    background-color: transparent;
    outline: none;
    border: 1px solid #929699;
    border-radius: 2px;
    @include font-style();
    color: #929699;
    &::placeholder {
        @include font-style();
        color: #929699;
    }
    @media (max-width: $tablet) {
        height: 42px;
        width: 154px;
        padding: 0px 22px 0 6px;
        margin: 0px 0 32px 0;
    }
    @media (max-width: $mobile) {
        margin: 0px 0 24px 0;;
    }
    
}

.another-amount__container {
    position: relative;
    &::before {
        content: url(/src/icons/money.svg);
        position: absolute;
        height: 10px;
        width: 10px;
        bottom: 53px;
        right: 10px;
        z-index: 5;
    }
}

.regularity {
    display: flex;
    justify-content: center;
    gap: 49px;
    width: 280px;
    margin-left: -15px;
    margin-bottom: 29px;
    @media (max-width: $mobile) {
        margin-left: -23px;
    }
}

.label {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.label span {
    @include font-style();
    color: #333B41;
}
.label input {
    display: none;
}

.fake {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #4B9200;
    border-radius: 50%;
    opacity: 0;
    }
}

// .fake::before {
    
// }

.pay:checked + .fake::before {
    opacity: 1;
}

.share {
    @include font-style();
    margin: 31px -4px 60px 0;
    @media (max-width: $sDesktop) {
        margin: 31px -4px 47px 0;
    }
    @media (max-width: $tablet) {
        margin: 31px -4px 28px 0;
    }
    @media (max-width: $mobile) {
        margin: 26px -4px 22px 0;
    }
}

.change {
    margin-left: 7px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}