.feed {
    padding: 69px 0 100px 0;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    color: $blue-text-color;
    @media (max-width: $sDesktop) {
        padding: 30px 30px 51px 30px;
    }
    @media (max-width: $tablet) {
        padding: 20px 0 20px 0;
    }
    @media (max-width: $mobile) {
        padding: 20px 11px 20px 10px;
    }
}

.feed_container {
    padding-bottom: 59px;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    & button:last-child {
        margin-left: 3px;
    }
    @media (max-width: $sDesktop) {
        padding-bottom: 50px;
    }
    // @media (max-width: $sDesktop) {
    //     padding: 0 20px 50px 20px;
    // }
    @media (max-width: $tablet) {
        padding: 0 20px 60px 20px;
    }
    @media (max-width: $mobile) {
        padding: 0 0 38px 0;
    }
}

.feed-info {
    margin: 31px 45px 60px 85px;
    & li:nth-child(1) {
        margin-bottom: 40px;
        @include font-style($size: 2.4rem, $height: 120%);
    }
    & li:nth-child(2) {
        margin-bottom: 10px;
        @include font-style($weight: 500, $height: 130%);
    }
    & li:nth-child(3) {
        @include font-style($height: 130%);
        max-width: 870px;
    }
    @media (max-width: $sDesktop) {
        margin: 20px 45px 40px 48px;
        & li:nth-child(1) {
            margin-bottom: 20px;
        }
    }
    @media (max-width: $tablet) {
        margin: 20px 0 30px 0;
        & li:nth-child(1) {
            margin-bottom: 20px;
            @include font-style($size: 2.2rem, $height: 120%);
        }
    }
    @media (max-width: $mobile) {
        margin: 10px 0 0 0;
        & li:nth-child(1) {
            margin-bottom: 20px;
            @include font-style($size: 1.8rem, $height: 120%);
            text-align: center;
        }
        & li:nth-child(n+2) {
            display: none;
        }

    }
}

.decor {
    position: relative;
    color: $blue-text-color;
    &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: #FE9013;
    }
}


.feed-steps {
    display: flex;
    max-width: 764px;
    width: 100%;
    justify-content: space-between;
    margin: 40px auto 60px auto;
    @media (max-width: $sDesktop) {
        margin: 40px auto 72px auto;
    }
    @media (max-width: $tablet) {
        margin: 20px auto 40px auto;
        
    }
    @media (max-width: 650px) {  /* hot fix */
        width: 96%;
        & li:nth-child(1) {
            margin-left: -11px;
        }
    }
    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        & li:nth-child(1) {
            margin-left: 0;
        }
        & li:nth-child(3) {
            margin-top: -11px;
        }
    }
}

.feed-step {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 168px;
    @media (max-width: $mobile) {
        gap: 10px;
    }
}

.step-image {
    position: relative;
    height: 166px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #FE9013;
}

.step-text {
    @include font-style();
    color: $blue-text-color;
}

.step-image_1::after {
    content: url(/src/icons/feed-pay.svg);
    margin: -30px 0 0 -54px;
}

.step-image_2::after {
    content: url(/src/icons/feed-zoo.svg);
    margin: -46.5px 0 0 -44px;
}

.step-image_3::after {
    content: url(/src/icons/feed-monkey.svg);
    margin: -37px 0 0 -62.4px;
}


.step-image_1::after,
.step-image_2::after,
.step-image_3::after {
    position: absolute;
    top: 50%;
    left: 50%;
}

.feed-steps li:nth-child(-n+2)::before {
    content: url(/src/icons/feed-Vector.svg);
    position: absolute;
    top: 31.5%;
    right: -59%;
    margin: -17.5px 0 0 33px;
    @media (max-width: 735px) {
        content: url(/src/images/tablet-arrow.svg);
        top: 0;
        right: -32%;
        z-index: 2;
    }
    @media (max-width: $mobile) {
        transform: rotate(90deg);
        top: 103%;
        right: -36%;
    }
 }