.footer {
    position: relative;
    z-index: 2;
    background-color: #111115;
    &-container {
        max-width: 1160px;
        margin: 0 auto;
        padding: 41px 0 50px 0;
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
    }
    @media (max-width: $sDesktop) {
        &-container {
            padding: 41px 30px 50px 30px;
        }
    }
    @media (max-width: $tablet) {
        &-container {
            padding: 12px 20px;
        }
    }
    @media (max-width: 550px) {
        &-container {
            flex-direction: column;
        }

    }
    @media (max-width: $mobile) {
        &-container {
            padding: 18px 13px 20px 9px;
        }
    }
}

.footer-donate {
    order: 1;
    flex: 1 1 50%;
    margin-bottom: 43px;
    &:nth-child(1) {
        @media (max-width: 550px) {
            margin: 0 auto;
        }
    }
}

.footer-logo {
    margin-bottom: 68px;
    @media (max-width: $tablet) {
        margin-bottom: 32px;
    }
    @media (max-width: 550px) {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }
}

.footer-trade-mark_mobile {
    @media (max-width: 550px){
        max-width: 130px;
        border: none;
        &::after {
            content: url(/src/icons/header-bamboo.svg);
            bottom: 4px;
            left: 72px;
        }
    }
}

.footer-subscribe {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 50%;
    .subscribe-title {
        color: #FFFFFF;
        @include font-style($size: 2.4rem, $height: 120%);
    }
    @media (max-width: $tablet) {
        display: none;
    }
}

.footer-subscribe__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: $sDesktop) {
        margin-right: 32px
    }
}

.subscribe-controls {
    display: flex;
    gap: 11px;
}

.subscribe-input {
    width: 208px;
    height: 40px;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    outline: 1px solid #FE9013;
    @include font-style();
    color: #BDBDBD;
    padding: 0 10px;
    &::placeholder {
        @include font-style();
        color: #BDBDBD;
    }
    &:focus {
        outline: 1px solid #4B9200;
    }
    &:focus + .footer-button {
        outline: 1px solid #4B9200;
        color: #4B9200;
    }
    &:invalid + .footer-button {
        outline: 1px solid #f92500;
        color: #f92500;
    }
    &:invalid {
        outline: 1px solid #f92500;
    }
}

.donate-button-container {
    flex: 1 1 100%;
}

.footer-button {
    cursor: pointer;
    width: 129px;
    height: 42px;
    @include font-style();
    border: 1px solid #333B41;
    border-radius: 5px;
    border: 1px solid #4B9200;
    &:active {
        color: #4B9200;
        border: 1px solid #4B9200;
    }
    
}

.social-item {
    @media (max-width: $tablet) {
        align-self: flex-end;
    }
}

.social {
    order: 3;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-self: center;
    @media (max-width: $sDesktop) {
        flex: 1 1 27%;
    }
    @media (max-width: $tablet) {
        gap: 20px;
    }
    @media  (max-width: 550px) {
        display: none;
    }
}

.social-mobile {
    display: none;
    gap: 30px;
    justify-content: center;
    @media  (max-width: 550px) {
        display: flex;
        margin-bottom: 30px;
    }
}

.social-link {
    display: flex;
    align-items: center;
    gap: 13px;
    &:active div {
        background-color: #4B9200
    };
    &:active span {
        color: #4B9200
    };

}

.social_icon {
    height: 26px;
    width: 26px;
    background-blend-mode: normal;
    border-radius: 50%;
    mix-blend-mode: normal;
    
}

.social-link__text {
    padding-top: 5px;
    @include font-style();
    @media (max-width: $tablet) {
        display: none;
    }
}

.facebook__icon {
    background: url(/src/icons/social-facebook.svg) center no-repeat, rgba(196, 196, 196, 0.5);
}
.twitter__icon {
    background: url(/src/icons/footer-twitter.svg) center no-repeat, rgba(196, 196, 196, 0.5);
}
.instagram__icon {
    background: url(/src/icons/footer-inst.svg) center no-repeat, rgba(196, 196, 196, 0.5);
}
.youtube__icon {
    background: url(/src/icons/footer-youtube.svg) center no-repeat, rgba(196, 196, 196, 0.5);
}

.footer-nav {
    order: 4;
    flex: 1 1 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // width: 100%;
    max-width: 360px;
    // & li:nth-child(1){
    //     pointer-events: none;
    //     background: $orange-gradient;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }
    @media (max-width: $sDesktop) {
        flex: 1 1 32%;
    }
    @media (max-width: $tablet) {
        margin-top: 55px;
        flex: 1 1 30%;
    }
    @media (max-width: 550px) {
        order: 5;
        align-self: center;
        width: 93%;
        margin-top: 30px;
    }
}

.footer-nav-item__link {
    @include font-style();
}

.project-info {
    order: 5;
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #bebebe;
    @include font-style($weight: 100, $height: 130%);
    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: $tablet) {
            gap: 9px;
        }
    }
    @media (max-width: 550px) {
        order: 4;
        margin: 30px -2px 0 0;
        @include font-style($weight: 100, $size: 1.5rem, $height: 120%);
        &__container {
            gap: 13px;
        }

    }
}


