html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
}

.fixed-body {
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: $white-text-color;
}

.section__title {
    @include font-style($size: 4.8rem, $height: 122%);
    color: $blue-text-color;
    &_colored {
        margin: 40px 0 0 0;
        color: #FE9013;
    }
    @media (max-width: $sDesktop) {
        @include font-style($size: 4.8rem, $height: 120%);
        &_colored {
            margin: 33px 0 0 0;
        }
    }
    @media (max-width: $tablet) {
        margin: 10px 0 0 0;
        &_colored {
            @include font-style($size: 4.2rem, $height: 120%);
            margin: 9px 0 0 0;
        }
    }
    @media (max-width: $mobile) {
        @include font-style($size: 2.4rem, $height: 120%);
        margin: 10px 0 0 0;
        &_colored {
            margin: 21px 0 0 0;
        }
    }
}

.section-subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    @media (max-width: $mobile) {
        font-size: 24px;
    }
}


