$blue-text-color: #333B41;
$white-text-color: rgb(255, 255, 255);
$yellow-text-color: #FFEE2E;
$orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange-gradient-hover: linear-gradient(113.96deg, #E47209, #E47209);
$orange-gradient-active: linear-gradient(113.96deg, #4B9200, #4B9200);


$sDesktop: 1260px;
$tablet: 914px;
$mobile: 500px;