.link {
    cursor: pointer;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 54px;
    width: 298px;
    border: none;
    border-radius: 25px;
    background: $orange-gradient;
    background-color: #F9804B;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
    @include font-style($weight: 500);
    text-transform: uppercase;
    transition: all 0.4s;
    &:hover {
        background-image: none;
        background-color: #E47209;
    }
    &:active {
        background-image: $orange-gradient-active;
    }
}

.button_mobile {
    display: none;
    height: 54px;
    width: 298px;
    border: none;
    border-radius: 25px;
    background: $orange-gradient;
    background-color: #F9804B;
    color: #FFFFFF;
    text-align: center;
    align-self: flex-start;
    @include font-style($weight: 500);
    text-transform: uppercase;
    transition: all 0.4s;
    &:hover {
        background-image: none;
        background-color: #E47209;
    }
    &:active {
        background-image: $orange-gradient-active;
    }
    @media (max-width: $tablet) {
        display: block;
        margin-top: -6px;
    }
    @media (max-width: $mobile) {
        display: block;
        margin-top: 62px;
    }
}

.square_button {
    align-self: flex-start;
    border-radius: 5px;
    @media (max-width: $tablet) {
        align-self: center;
    }
}

.small-button {
    @media (max-width: $tablet) {
         max-width: 240px;
    }
}

// .slider-controls {
//     display: flex;
// }

.slider-button {
    cursor: pointer;
    position: absolute;
    top: 43.5%;
    height: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $orange-gradient;
    border: none;
    &:active {
        background-image: $orange-gradient-active;
    }
    @media (max-width: 1095px) {
        top: 42.5%;
    }
    @media (max-width: 958px) {
        top: 41.5%;
    }
    @media (max-width: 840px) {
        top: 43.5%;
    }
    @media (max-width: 720px) {
        top: 42.5%;
    }
    @media (max-width: 630px) {
        top: 41.5%;
    }
    @media (max-width: 584px) {
        display: none;
    }
}
.left {
    transform: translate(50%, 50%);
    left: -9%;
    &::after {
        content: url(/src/icons/slider-vector.svg);
        transform: rotate(180deg);
        top: 50%;
        left: 50%;
    }
}
.right {
    transform: translate(-50%, 50%);
    right: -9%;
    &::after {
        content: url(/src/icons/slider-vector.svg);
    }
}

@media (max-width: 1280px) {
    .left {
        left: 32.2%;
    }
    .right {
        right: 32.2%;
    }

}
@media (min-width: 1280px) and (max-width: 1325px) {
    .left {
        left: -61px;
    }
    .right {
        right: -61px;
    }

}

@media (max-width: 977px) {
    // .left {
    //     top: 45.5%;
    //     left: 37%;
    // }
    // .right {
    //     top: 45.5%;
    //     right: 37%;
    // }

}